<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  </head>
  <body>
  
    <div class="container">
      <section class="section">
        
          
          <div class="columns">
            <div class="column is-8 is-offset-2 has-text-centered">
              <h1 class="title">Ferramenta de teste</h1>
            </div>
          </div>

          <div class="columns">
            <div class="column is-8 is-offset-2 has-text-centered">
                <h1 class="subtitle">
                  De forma simples e eficiente a ferramenta de teste trás uma maneira prática e rápida de realizar seus testes de validação.<br/>
                  Experimente nossa ferramenta!
                </h1>
            </div>
          </div>
      </section>

      <section>
        <div class="columns">
          <div class="column">
            <div class="notification is-danger has-text-centered">
              <p><b>Insira o link da página de teste abaixo e clique no botão &#128521</b></p>
            </div>
          </div>
          <div class="column">
            <div class="notification is-warning has-text-centered">
              <p><b>Agora configura os valores de entrada para cada componente &#128526</b></p>
            </div>
          </div>
          <div class="column">
            <div class="notification is-success has-text-centered">
              <p><b>Falta pouco! Agora clique no botão láaa embaixo e tcharam! &#128562</b></p>
            </div>
          </div>
        </div>
      </section>

      <br/><br/>

      <section>
        <div class="columns">
          <div class="column">
            <div class="notification is-primary has-text-centered">
              <div class="field has-addons">
                <div class="control is-expanded">
                  <input id="test_url" class="input" type="text" placeholder="URL">
                </div>
                <div class="control">
                  <a href="javascript:{}" onclick="cptComponentes()" class="button">
                    <span>Pegar componentes</span>
                    <span class="icon">
                      <i class="fas fa-level-down-alt"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="has-background-light">
        <div class="componentes">
        </div>
      </section>

      <br/>

      <section class="has-background-grey-lighter">
        <div class="columns">
          <div class="column is-4 is-offset-4 has-text-centered">
            <form id="uploadForm" enctype="multipart/form-data" action="/execute-teste" method="post">
              <a class="button is-primary is-large" href="javascript:{}" onclick="validate()">
                <span>VALIDAR</span>
                <span class="icon">
                  <i class="fas fa-rocket"></i>
                </span>
              </a>
            </form>
          </div>
        </div>
      </section>
    </div>
    <div id="result"></div>

    <br/><br/><br/><br/>
    <br/><br/><br/><br/>

    <div class="container is-fluid">
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>Ferramenta de Teste de Validação</strong> by Ademir, Felipe e Carlos.<br/>
            Projeto final para a disciplina de Gestão de Projetos, do curso de pós-graduação em Tecnologia da Informação do Instituto 
            Metrópole Digital - <a href="http://imd.ufrn.br">IMD</a>.<br/>
            <b>2019</b>
          </p>
        </div>
      </footer>
    </div>

    <script type="text/javascript">

      var componentes = null;
      function gerarComponente(contador, tag, type, value){
        let code = 
        `
          <div class="columns">
            <div class="column is-6 is-offset-3">

              <div class="field ">
                <label class="label">Componente ${contador}</label>
                <div class="control">
                  <input class="input test_case" type="text">
                </div>
              </div>
              
            </div>
          </div>
        `;
        $('.componentes').append(code);
      }

      function criarComponentes(dados){
        document.querySelector('.componentes').innerHTML = '';
        let contador = 1;
        dados.lista_componentes.forEach( (element,index) => {
          if (element.tag === "input" &&
              (element.type === "text" || element.type === "password") ){
            gerarComponente(contador++, element.tag, element.type, element.value)
          }
        });
      }

      function cptComponentes(){
        $.post('/gerar-elementos', {'url':$('#test_url').val()},  result => {
          componentes = result;
          criarComponentes(JSON.parse(result));
        });
      } 

      function validate(){
        test_url = $('#test_url').val();
        let $inputs = document.querySelectorAll('.test_case');
        componentes = JSON.parse(componentes);
        componentes.lista_componentes = [];
        $inputs.forEach( ($input, index) => {
          componentes.lista_componentes.push({
            tag:$input.tagName.toLowerCase(),
            value:$input.value
          });
        });

        // json = {'url': test_url, 'componente':'input', 'name': 'q','valor':value_test_case};
        json = JSON.stringify(componentes);
        $.post("/execute-teste", json, function(result){
          console.log(result);
          alert(result);
        });
      }

    </script>

  </body>
</html>